---
import Container from './container.astro'
import { PostHeading } from './posts-layout/posts-heading'

export interface Props {
  error: unknown
  // reset: () => void
  tryAgain?: boolean
  statusCode?: number
}

const { error,  tryAgain = true, statusCode = 500 } = Astro.props

const DEFAULT_MESSAGE = 'I messed up :('
---

<Container>
  <div class="py-8">
    <PostHeading>
      {statusCode ? <span>{statusCode} - </span> : null}
      {(error instanceof Error ? error.message : `${error}`) || DEFAULT_MESSAGE}
    </PostHeading>

    <!-- TODO: add reset button -->
    <!-- {
      tryAgain && (
        <>
          <button class="group mx-auto my-8 block max-w-xs text-center text-lg">
            Click <span class="text-drac-pink group-hover:underline">here</span> to try again.
          </button>
          <p class="text-center italic">or</p>
        </>
      )
    } -->
    <a href="/" class="group mx-auto my-8 block max-w-xs text-center text-lg">
      Click <span class="text-drac-pink group-hover:underline">here</span> to go home.
    </a>
  </div>
</Container>
