.prose pre {
  @apply m-0 rounded-none bg-drac-bg p-0;
}

.prose code {
  @apply rounded bg-drac-curr p-1 leading-none text-drac-pink;
}

.prose pre code {
  @apply rounded-none bg-transparent p-0 text-drac-fg;
}

.prose code::before,
.prose code::after {
  content: '';
}

.prose pre code::before,
.prose pre code::after {
  content: none;
}

.mdx-marker {
  @apply bg-drac-curr;
}

@screen sm {
  .prose pre {
    @apply pb-2;
  }

  /* Chrome */
  .prose pre::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .prose pre::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .prose pre::-webkit-scrollbar-thumb {
    @apply bg-drac-purple;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.drac.purple') theme('colors.transparent');
  }
}

.token.bold {
  @apply font-bold;
}

.language-javascript .token.constant,
.token.italic {
  font-style: italic;
}

.language-css .token.selector,
.token.atrule,
.token.attr-name,
.token.attr-value,
.token.maybe-class-name,
.language-css .token.entity,
.token.function {
  @apply text-drac-green;
}

.token.builtin,
.token.class-name,
.language-css .token.function,
.token.url,
.token.operator,
.language-css .token.property {
  @apply text-drac-cyan;
}

.token.property,
.language-javascript .token.constant,
.token.symbol,
.language-css .token.url {
  @apply text-drac-orange;
}

.language-css .token.atrule,
.token.boolean,
.token.constant,
.language-html .token.entity.named-entity,
.token.number,
.token.dom.variable,
.language-css,
.language-markup .token.entity.named-entity {
  @apply text-drac-purple;
}

.language-html .token.entity:not(.named-entity),
.language-markup .token.entity:not(.named-entity),
.token.important,
.token.entity,
.token.selector,
.token.tag,
.token,
.language-css .token,
.token.char,
.token.keyword {
  @apply text-drac-pink;
}

.token.regex {
  @apply text-drac-red;
}

.language-html .token.punctuation,
.language-css .token.rule:not(.atrule),
.language-markup .token.punctuation,
.language-jsx .token.plain-text,
.language-tsx .token.plain-text,
.token.script,
.token.punctuation,
.token.prolog {
  @apply text-drac-fg;
}

.language-html .token.attr-value,
.token.string,
.language-markup .token.attr-value {
  @apply text-drac-yellow;
}

.token.comment,
.token.variable {
  @apply text-drac-comment;
}

.token.namespace,
.token.deleted {
  color: #e2777a;
}
