.prose {
  @apply max-w-none;
}

.prose *:not(.shiki) code {
  @apply rounded bg-drac-curr p-1 leading-none text-drac-pink;
}

/*
 * Code Snippets
 */
.prose pre {
  @apply rounded-none bg-drac-bg;
  @apply px-0 pt-0;
  @apply -mx-2 pb-3 md:-mx-6;
}

.prose code {
  @apply rounded bg-drac-curr p-1 leading-none text-drac-pink;
}

.prose .shiki code {
  @apply rounded-none p-0;
}

.prose pre .line {
  @apply relative block px-2 md:px-6;
  @apply rounded-none bg-transparent text-base text-drac-fg;
  line-height: 1.75;
  min-height: 1.75rem;
  @apply motion-safe:transition;
}

.prose code::before,
.prose code::after {
  content: none;
}

.prose .shiki .dim {
  opacity: 0.5;
}
.prose .shiki:hover .dim {
  opacity: 1;
}
.prose .shiki .highlight {
  opacity: 1;
}
.prose .shiki .highlight {
  background-color: #21222c;
}
.prose .shiki:hover .highlight {
  box-shadow: inset 0.25rem 0 0 0 theme('colors.drac.purple');
}

/* Visually differentiates twoslash code samples  */
pre.twoslash {
  border-color: #719af4;
  overflow-y: visible;
}

/** When you mouse over the pre, show the underlines */
pre.twoslash data-lsp {
  @apply border-b border-dotted border-drac-curr;
}

/** The tooltip-like which provides the LSP response */
pre.twoslash data-lsp:hover::before {
  content: attr(lsp);
  position: absolute;
  transform: translate(0, 1.75rem);

  @apply whitespace-pre-wrap rounded bg-drac-curr px-1 py-2 text-left font-mono text-sm text-drac-fg;
  z-index: 100;
}

pre code {
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  font-variant-ligatures: discretionary-ligatures;
}

/*
 * List bullets
 */
.prose ul > li::before {
  @apply bg-drac-pink/75;
}

.prose ol > li::before {
  @apply bg-drac-pink/75;
}

/**
 * Demo Wrapper
 */
.prose .demo-wrapper > *:first-child {
  margin-top: 0;
}

/* Chrome */
.prose pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.prose pre::-webkit-scrollbar-track {
  @apply rounded-full bg-transparent;
}

.prose pre::-webkit-scrollbar-thumb {
  @apply rounded-full bg-drac-purple;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.drac.purple') theme('colors.transparent');
}
